{% extends "base.html" %}
<div>
    {% set professions_list = ['инженер-исследователь', 'пилот', 'строитель', 'экзобиолог', 'врач'] %}
    <h2>Список профессий</h2>
    {% for profession in professions_list %}
        {% if list_type == ol %}
            <ol>
                <li>{{ profession }}</li>
            </ol>
        {% elif list_type == ul %}
            <ul>
                <li>{{ profession }}</li>
            </ul>
        {% endif %}
    {% endfor %}
</div>
{% block content %}
{% endblock %}
